
.blockquote {
    max-width: 600px;
    padding: 25px;
    background: white;
    border: 1px solid grey;
    color: rgb(30, 23, 37);
    box-sizing: border-box;
    margin-top: 15rem;
    margin-bottom: -6rem;
}

.blockquote__no__borders {
    max-width: 600px;
    padding: 25px;
    background: white;
    color: rgb(30, 23, 37);
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.blackquote__others {
    max-width: 600px;
    padding: 25px;
    background: white;
    border: 1px solid grey;
    color: rgb(30, 23, 37);
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.blockquote__text {
    font-style: italic;
    font-size: 1.15rem;
    line-height: 1.5;
    margin: 0;
}

.blockquote__text:not(:last-child) {
    margin-bottom: 1em;
}


.blockquote__bordered {
    border-left-width: 10px;
}

.blockquote__text__credit {
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

.blockquote__text__credit::before {
    content: "\2014\0020";
}

.quoted::before {
    content: "\201c";
    font-size: 100px;
    color: rgb(30, 23, 37);
    display: block;
    margin-top: -40px;
    margin-bottom: -60px;
}

