@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(/images/Background.JPG)no-repeat;
    background-size: cover;
    background-position: center;
}
header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
}
header .logo {
    position: relative;
    color: #00ffff;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.content {
    max-width: 800px;
    margin: 180px 100px;
}
.content .info h2 {
    color: #fff;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
.content .info h2 span {
    color: #00ffff;
}
.content .info p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    color: #fff;
    line-height: 35px;
}
.content .info__btn {
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: .5rem;
    background: #00ffff;
    color: #000;
    transition: .4s;
}
.content .info__btn:hover {
    background: transparent;
    border: 1px solid #00ffff ;
    color: #00ffff;
}
.media__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.media__icons a {
    position: relative;
    color: #00ffff;
    font-size: 25px;
    padding: 10px;
    transition: .4s;
}
.media__icons a:not(:last-child) {
    margin-right: 60px;
}
.media__icons a:hover {
    transform: scale(1.5);
}
label {
    display: none;
}
#check {
    z-index: 3;
    display: none;
}



@media (max-width: 960px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 40px ;
        margin-left: -90px;
    }
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .content {
        max-width: 800px;
        margin: 180px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .logo {
        position: absolute;
        bottom: -6px;
    }
    .content .info h2 {
        font-size: 40px;
        font-weight: 600;
    }
    .content .info p {
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    .content .info h2 {
        font-size: 35px;
        font-weight: 600;
    }

    .content .info p {
        font-size: 14px;
    }
}